<%= stylesheet_link_tag "movies" %>

<% if user_signed_in? && current_user.role == 'admin' %>
  <div class="card">
    <h1 class="title">Add Person</h1>
    <%= form_for @person do |f|%>
    <div>
      <%= f.label :name%>
      <%= f.text_field :name %><br>
    </div>
    <div>
      <%= f.label :dob%>
      <%= f.date_field :dob %><br>
    </div>
    <div>
      <%= f.label :gender%>
      <%= f.select(:gender, [ 'Male', 'Female' ], {}, { :class => 'select' }) %><br>
    </div>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image, {:style=>'color:#fff;'} %><br><br>
    </div>
      <%= f.submit "Create", :class => "submit" %>
    <%end%>
  </div>
<% else %>
  <% controller.redirect_to root_path %>
<% end %>