<h1>Add Movies</h1>
<%= form_for Movie.new do |f|%>
<div>
  <%= f.label :title%>
  <%= f.text_field :title%><br>
</div>
<div>
  <%= f.label :year%>
  <%= f.text_field :year%><br>
</div>
<div>
  <%= f.label :release_date%>
  <%= f.date_field :release_date%><br>
</div>
<div>
  <%= f.label :play_time%>
  <%= f.time_field :play_time%><br>
</div>
<div>
  <%= f.label :description%>
  <%= f.text_field :description%><br>
</div>
  <%= f.submit %>
<%end%>
