<%= stylesheet_link_tag "movies" %>

<% if @movie.errors.full_messages.any? %>
  <% @movie.errors.full_messages.each do |error_message| %>
    <%= error_message if @movie.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>

<div class="row">
  <div class="leftcolumn col-sm-8">
    <div class="movie-card">
      <h2 class="title">Title: <%= @movie.title %></h2>
      
      <h5 style="color: #ffffff;">Release date: <%= @movie.release_date %></h5>
    
      <div class="fakeimg"><%= image_tag(@movie.image, :style=>'width: 100%; height: 50%;') if @movie.image.attached? %></div>
      
      <p class="description"><%= @movie.description %></p>
      
      <h4 class="details">Cast:
        <% if @movie.movie_casts.count > 0 %>
          <div style="margin: 10px;">
            <% @movie.movie_casts.order(created_at: :asc).each do |cast| %>
              <span class="role"> <%= cast.role.title %>:</span>
              <span> <%= cast.person.name %></span>
              <br>
            <% end %>
          </div>
        <% else %>
            No Data Available!!
        <% end %>
      </h4>

      <h4 class="details">Genre: 
        <% if @movie.movie_genres.count > 0 %>
          <% @movie.movie_genres.each do |category| %>
            <%= category.genre.title  %>
          <% end %>
        <% else %>
            <span> No Data Available!! </span>
          <% end %>
      </h4>

      <span class="details">
        <% if user_signed_in? %>
          <%= form_for @movie.watchlists.build do |form| %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.hidden_field :movie_id %>
            <%= form.submit "Add to Watchlist", :class => 'submit_btn' %>
            <%= link_to "Review", new_review_path(@movies), :class => 'submit_btn' %>
          <% end %>
        <% else %>
          <%= link_to "Review", new_review_path(@movies), :class => 'submit_btn' %>
          <%= link_to "Add To Watchlist", new_user_registration_path, :class => 'submit_btn' %>
        <% end %>
      </span>
    </div>
  </div>

  <!--  <div class="rightcolumn col-sm-4">
    <div class="movie_card">
      <h2>Also Watch</h2>
      <%#= @movies.all do |movie| %>
        <p> <%= @movie.title %> </p>
      <%# end %>
    </div>
  </div> -->
</div>
      