<% if logged_in? %>
  <h1>You are Logged In, <%= current_user.name %></h1>
  	<p>
	  <strong>Id:</strong>
	  <%= current_user.id %>
	</p>
	<p>
	  <strong>Name:</strong>
	  <%= current_user.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= current_user.email %>
	</p>

	<p>
	  <strong>Contact:</strong>
	  <%= current_user.contact %>
	</p>

  <div class="action">
    <%= link_to “Log Out”, session_path %>
  </div>
<% else %>
  <div class="action">
    <%= button_to "Login", '/sessions'%>
    <%= button_to "Sign up", '/users/new'%>
  </div>
<%end%>

<p id=”notice”><%= notice %></p>