<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "imdb", root_path, :class => "navbar-brand", :style=>'color:yellow;'%>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Movies <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to "+watchlist", watchlists_path(current_user.id)%>
        <% else %>
          <%= link_to "+watchlist", new_user_registration_path %>
        <% end %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-form navbar-left">
      <div class="input-group">
      <li>
        <%= form_tag search_movies_path, method: 'get' do %>    
          <%= select_tag(:filter, option_for_select_filter, :class => 'filter') %>
          <%= search_field_tag :search, params[:search], placeholder: "Search Movie", :class => "input-group form-control" %>
          <div class="input-group-btn">
            <%= submit_tag "Search", :class => "btn btn-default" %>
           <i class="glyphicon glyphicon-search"></i>
          </div>
        <% end %>
      </li>
    </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="text"><%= link_to current_user.name %></li>
        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'%></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method  => :delete, :class => "glyphicon glyphicon-user" %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path, :class => "glyphicon glyphicon-user" %></li>
        <li><%= link_to "Signup", new_user_registration_path, :class => "glyphicon glyphicon-user" %></li>
      <% end %>
    </ul>
  </div>
</nav>