<!DOCTYPE html>
<html>
  <head>
    <title>DemoImbd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%#= stylesheet_link_tag "href:https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>
  <body>
<!--
    <% #if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% #end %>
    <% #if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% #end %>
-->
    <%= render "/layouts/navbar" %>
    <%= yield %>
    <%= render "/layouts/footer" %>
  </body>

</html>
